# Base de données
DATABASE_URL=postgresql://admin:MotDePasseSecurise@db:5432/gestion_clubs
DB_HOST=db
DB_PORT=5432
DB_NAME=gestion_clubs
DB_USER=admin
DB_PASSWORD=MotDePasseTresSecurise2026!

# Sécurité
JWT_SECRET=CleSecreteLongueEtAleatoire_ChangezMoiEnProduction
SYNC_SECRET=CleDeSynchronisationEntreClientEtServeur

# Port
PORT=3000
